
<!DOCTYPE html>
<html lang="ja">

<%
  if (typeof data === 'undefined') {
    var data = {
      answer1:'',
      answer3:'',
      shisakuanswer1_1:'',
      shisakuanswer1_2:'',
      shisakuanswer2_1:'',
      shisakuanswer2_2:'',
      shisakuanswer3_1:'',
      shisakuanswer3_2:'',
      shisakuanswer4_1:'',
      shisakuanswer4_2:'',
      shisakuanswer5_1:'',
      shisakuanswer5_2:'',
      shisakuanswer6_1:'',
      shisakuanswer6_2:'',
      shisakuanswer7_1:'',
      shisakuanswer7_2:'',
      shisakuanswer8_1:'',
      shisakuanswer8_2:'',
      shisakuanswer9_1:'',
      shisakuanswer9_2:'',
      shisakuanswer10_1:'',
      shisakuanswer10_2:'',
      shisakuanswer11_1:'',
      shisakuanswer11_2:'',
      shisakuanswer12_1:'',
      shisakuanswer12_2:'',
      shisakuanswer13_1:'',
      shisakuanswer13_2:'',
      shisakuanswer14_1:'',
      shisakuanswer14_2:'',
      shisakuanswer15_1:'',
      shisakuanswer15_2:'',
      shisakuanswer16_1:'',
      shisakuanswer16_2:'',
      shisakuanswer17_1:'',
      shisakuanswer17_2:'',
      shisakuanswer18_1:'',
      shisakuanswer18_2:'',
      shisakuanswer19_1:'',
      shisakuanswer19_2:'',
      shisakuanswer20_1:'',
      shisakuanswer20_2:'',
      shisakuanswer21_1:'',
      shisakuanswer21_2:'',
      shisakuanswer22_1:'',
      shisakuanswer22_2:'',
      shisakuanswer23_1:'',
      shisakuanswer23_2:'',
      shisakuanswer24_1:'',
      shisakuanswer24_2:'',
      shisakuanswer25_1:'',
      shisakuanswer25_2:'',
      shisakuanswer26_1:'',
      shisakuanswer26_2:'',
      shisakuanswer27:'',
      teamanswer1_1:'',
      teamanswer1_2:'',

      visionanswer1_1:'',
      visionanswer1_2:'',

      mvpanswer1_1:'',
      mvpanswer1_2:'',

      etcanswer1:''
      
    };
  }

  function rtntst(){
      var str = "selected";
      return str;
  }


  function optionselect(a,b){
    var str = "";
    if(a == b){
        var str = "selected";
    }
    return str;
}

%>



<head>
    <meta charset="UTF-8">
    <title>企画開発チーム2018年上期アンケート</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>企画開発チーム2018年上期アンケート</h1>
    <div>
        <%= user %> さんようこそ。
        <a href="/logout">ログアウト</a>
    </div>

    <div class="comment"">
        2018年上期お疲れ様でした。今後のチーム運営改善のため、アンケートにご協力下さい！
    </div>

    <form action="/quest/complete" method="POST">
         <div class="large">
            <h2>2018年上期施策(ID:1070869865)について</h2>     
            <div class="middle">
                Q1：企画開発スキルロードマップ
                <div class ="small">
                    <select name="shisakuanswer1_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer1_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer1_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer1_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer1_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer1_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer1_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%=data.shisakuanswer1_2%></textarea>
                </div>
            </div>

            <div class="middle">
                Q2：スキル１ＵＰ
                <div class ="small">
                    <select name="shisakuanswer2_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer2_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer2_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer2_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer2_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer2_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer2_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer2_2 %></textarea>
                </div>
            </div>


            <div class="middle">
                Q3：ブートキャンプ
                <div class ="small">
                    <select name="shisakuanswer3_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer3_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer3_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer3_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer3_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer3_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer3_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer3_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q4：座談会
                <div class ="small">
                    <select name="shisakuanswer4_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer4_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer4_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer4_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer4_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer4_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer4_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer4_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q5：チームアイデンティティ作成
                <div class ="small">
                    <select name="shisakuanswer5_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer5_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer5_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer5_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer5_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer5_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer5_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer5_2 %></textarea>
                </div>
            </div>


            <div class="middle">
                Q6：JIRAをベースにしたコミュニケーション改善活動
                <div class ="small">
                    <select name="shisakuanswer6_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer6_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer6_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer6_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer6_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer6_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer6_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer6_2 %></textarea>
                </div>
            </div>


            <div class="middle">
                Q7：適正な業務量の見極め、開発メンバの増員計画を考える活動
                <div class ="small">
                    <select name="shisakuanswer7_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer7_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer7_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer7_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer7_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer7_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer7_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer7_2 %></textarea>
                </div>
            </div>


            <div class="middle">
                Q8：戦略マップのチーム内での共有
                <div class ="small">
                    <select name="shisakuanswer8_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer8_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer8_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer8_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer8_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer8_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer8_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer8_2 %></textarea>
                </div>
            </div>
            
            <div class="middle">
                Q9：開発との上流工程役割分担の見直し
                <div class ="small">
                    <select name="shisakuanswer9_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer9_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer9_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer9_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer9_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer9_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer9_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer9_2 %></textarea>
                </div>
            </div>
            
            
            <div class="middle">
                Q10：NRI内他システムとの連携窓口の設置（VD）
                <div class ="small">
                    <select name="shisakuanswer10_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer10_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer10_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer10_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer10_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer10_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer10_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer10_2 %></textarea>
                </div>
            </div>

            
            <div class="middle">
                Q11：NRI内他システムとの連携窓口の設置（POSTUB）
                <div class ="small">
                    <select name="shisakuanswer11_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer11_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer11_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer11_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer11_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer11_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer11_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer11_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q12：NRI内他システムとの連携窓口の設置（e-bango）
                <div class ="small">
                    <select name="shisakuanswer12_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer12_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer12_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer12_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer12_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer12_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer12_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer12_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q13：NRI内他システムとの連携窓口の設置（ラップ）
                <div class ="small">
                    <select name="shisakuanswer13_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer13_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer13_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer13_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer13_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer13_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer13_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer13_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q14：他システム窓口からの情報共有（企画開発定例での週次共有）
                <div class ="small">
                    <select name="shisakuanswer14_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer14_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer14_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer14_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer14_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer14_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer14_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer14_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q15：日常的に種をまき、感度良く（チームメンバー発表）
                <div class ="small">
                    <select name="shisakuanswer15_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer15_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer15_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer15_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer15_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer15_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer15_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer15_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q16：日常的に種をまき、感度良く（企画Ｇ（加藤さん）発表）
                <div class ="small">
                    <select name="shisakuanswer16_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer16_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer16_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer16_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer16_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer16_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer16_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer16_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q17：日常的に種をまき、感度良く（アイディアソン）
                <div class ="small">
                    <select name="shisakuanswer17_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer17_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer17_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer17_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer17_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer17_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer17_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer17_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q18：個別進捗（繁忙の数値化）
                <div class ="small">
                    <select name="shisakuanswer18_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer18_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer18_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer18_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer18_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer18_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer18_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer18_2 %></textarea>
                </div>
            </div>
            
            <div class="middle">
                Q19：個別進捗（現業以外の時間の数値化）
                <div class ="small">
                    <select name="shisakuanswer19_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer19_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer19_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer19_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer19_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer19_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer19_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer19_2 %></textarea>
                </div>
            </div>
            <div class="middle">
                Q20：個別進捗（ニコニコカレンダー）
                <div class ="small">
                    <select name="shisakuanswer20_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer20_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer20_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer20_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer20_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer20_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer20_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer20_2 %></textarea>
                </div>
            </div>
            <div class="middle">
                Q21：個別進捗（お悩み相談（メンバがこまっていることを抽出してチケット化））
                <div class ="small">
                    <select name="shisakuanswer21_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer21_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer21_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer21_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer21_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer21_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer21_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer21_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q22：個別進捗（チームに対するご意見の収集（意見はチーム内課題としてチケット化））
                <div class ="small">
                    <select name="shisakuanswer22_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer22_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer22_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer22_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer22_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer22_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer22_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer22_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q23：企画開発リーダー会（チーム内課題確認のための枠を追加し、解消速度をあげる）
                <div class ="small">
                    <select name="shisakuanswer23_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer23_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer23_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer23_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer23_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer23_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer23_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer23_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q24：役割の見直し（「社員さん」「特別ＳＥ」という区別の破壊、特別ＳＥの役割の明文化）
                <div class ="small">
                    <select name="shisakuanswer24_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer24_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer24_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer24_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer24_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer24_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer24_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer24_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q25：ＧＭよもやま相談会
                <div class ="small">
                    <select name="shisakuanswer25_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer25_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer25_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer25_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer25_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer25_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer25_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer25_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q26：法制度委員会の旗振りを、「増員して」企画開発内にもってくる
                <div class ="small">
                    <select name="shisakuanswer26_1">
                        <option value=1 <%= optionselect(1,data.shisakuanswer26_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.shisakuanswer26_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.shisakuanswer26_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.shisakuanswer26_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.shisakuanswer26_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="shisakuanswer26_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer26_2 %></textarea>
                </div>
            </div>

            <div class="middle">
                Q27：施策についてコメントがあれば、お願いします！（もっとこうしたほうがいい、など）
                <div class ="small">
                    <textarea name="shisakuanswer27" rows="16" cols="150" placeholder="コメント、ご意見など""><%= data.shisakuanswer27 %></textarea>
                </div>
            </div>

        </div>


        <div class="large">
            <h2>チームについて</h2>     
            <div class="middle">
                Q1：XXX
                <div class ="small">
                    <select name="teamanswer1_1">
                        <option value=1 <%= optionselect(1,data.teamanswer1_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.teamanswer1_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.teamanswer1_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.teamanswer1_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.teamanswer1_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="teamanswer1_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.teamanswer1_2 %></textarea>
                </div>
            </div>
        </div>


        <div class="large">
            <h2>チームビジョン（ID:1067098112）達成度について</h2>     
            <div class="middle">
                Q1：XXX
                <div class ="small">
                    <select name="visionanswer1_1">
                        <option value=1 <%= optionselect(1,data.visionanswer1_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.visionanswer1_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.visionanswer1_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.visionanswer1_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.visionanswer1_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="visionanswer1_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.visionanswer1_2 %></textarea>
                </div>
            </div>
        </div>

        <div class="large">
            <h2>ご自身のモチベーションについて（ ToMo(Total Motivation)指数 ）</h2>     
            <div class="middle">
                Q1：XXX
                <div class ="small">
                    <select name="visionanswer1_1">
                        <option value=1 <%= optionselect(1,data.visionanswer1_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.visionanswer1_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.visionanswer1_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.visionanswer1_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.visionanswer1_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="visionanswer1_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.visionanswer1_2 %></textarea>
                </div>
            </div>
        </div>

        <div class="large">
            <h2>MVP</h2>     
            <div class="middle">
                2018年下期、企画開発のMVPだと思う人をおしえてください。
                （できれば複数人挙げてください！）
                <div class ="small">
                    <select name="mvpanswer1_1">
                        <option value=1 <%= optionselect(1,data.mvpanswer1_1) %>>1:全然ダメ（もしくはやってない）</option>
                        <option value=2 <%= optionselect(2,data.mvpanswer1_1) %>>2:いまいち</option>
                        <option value=3 <%= optionselect(3,data.mvpanswer1_1) %>>3:良くも悪くもない</option>
                        <option value=4 <%= optionselect(4,data.mvpanswer1_1) %>>4:良い</option>
                        <option value=5 <%= optionselect(5,data.mvpanswer1_1) %>>5:非常に良い</option>
                    </select>
                </div>
                <div class ="small">
                    <textarea name="mvpanswer1_2" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.mvpanswer1_2 %></textarea>
                </div>
            </div>
        </div>


        <div class="large">
            <h2>その他</h2>     
            <div class="middle">
                その他、何かコメントがあれば自由にお願いします！
                <div class ="small">
                    <textarea name="etcanswer1" rows="8" cols="150" placeholder="コメント、ご意見など""><%= data.etcanswer1 %></textarea>
                </div>
            </div>
        </div>


        <div><input type="submit" value="回答!"></div>
        

    </form>

        
</body>

</html>
