
<!DOCTYPE html>
<html lang="ja">

<%
  if (typeof data === 'undefined') {
    var data = {
      answer1:'',
      answer3:''
    };
  }

  function rtntst(){
      var str = "selected";
      return str;
  }


  function optionselect(a,b){
    var str = "";
    if(a == b){
        var str = "selected";
    }
    return str;
}

%>



<head>
    <meta charset="UTF-8">
    <title>サイト</title>
</head>

<body>
    <h1>My Site</h1>
    <div>W2018上期アンケート</div>
    <%= user %> さんようこそ。
        <div>
            <a href="/logout">ログアウト</a>
        </div>

    <h2>アンケートです。</h2>
    <form action="/quest/complete" method="POST">      
        <div>Q1：一つ目の問い</div>
        <div>
            <textarea name="answer1" rows="8" cols="150" placeholder="未回答"><%= data.answer1 %> </textarea>
        </div>
        <div>Q２：二つ目の問い</div>
        <div>
            <textarea name="answer1" rows="8" cols="150" placeholder="未回答"><%= data.answer2 %> </textarea>
        </div>

        <div>Q２：三つ目の問い</div>

        <select name="answer3">
            <option value=1 <%= optionselect(1,data.answer3) %>>1:全然ダメ（もしくはやってない）</option>
            <option value=2 <%= optionselect(2,data.answer3) %>>2:いまいち</option>
            <option value=3 <%= optionselect(3,data.answer3) %>>3:良くも悪くもない</option>
            <option value=4 <%= optionselect(4,data.answer3) %>>4:良い</option>
            <option value=4 <%= optionselect(4,data.answer3) %>>5:非常に良い</option>
        </select>

        <div><input type="submit" value="回答!"></div>
        

    </form>

        
</body>

</html>
