
<!DOCTYPE html>
<html lang="ja">

<%

var master = 1;

function avarage(json,member){
    sum = 0;

    json.forEach(function(item){
        sum += item[member];
    })

    return sum/ans.length;
}


%>



<head>
    <meta charset="UTF-8">
    <title>企画開発チーム2018年上期アンケート結果</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
    <h1>企画開発チーム2018年上期アンケート結果</h1>

    <div class="comment">
        アンケートご回答、ありがとうございました！アンケートサマリー結果です。
    </div>

    <div class="large">
        <h2>2018年上期施策(ID:1070869865)について</h2>
        <table>
            <col width = "300">
            <col width = "120">
            <col width = "1000">

            <tr>
                <th>質問</th>
                <th>評価</th>
                <th>コメント（評価__コメント内容）</th>
            </tr>
            <tr>
                <td class = "tableq">
                    Q1：企画開発スキルロードマップ
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer1_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer1_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer1_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer1_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q2：スキル１ＵＰ
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer2_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer2_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer2_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer2_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q3：ブートキャンプ
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer3_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer3_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer3_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer3_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q4：座談会
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer4_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer4_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer4_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer4_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q5：チームアイデンティティ作成
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer5_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer5_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer5_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer5_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q6：JIRAをベースにしたコミュニケーション改善活動
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer6_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer6_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer6_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer6_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q7：適正な業務量の見極め、開発メンバの増員計画を考える活動
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer7_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer7_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer7_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer7_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q8：戦略マップのチーム内での共有
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer8_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer8_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer8_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer8_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q9：開発との上流工程役割分担の見直し
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer9_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer9_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer9_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer9_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q10：NRI内他システムとの連携窓口の設置（VD）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer10_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer10_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer10_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer10_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q11：NRI内他システムとの連携窓口の設置（POSTUB）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer11_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer11_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer11_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer11_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q12：NRI内他システムとの連携窓口の設置（e-bango）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer12_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer12_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer12_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer12_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q13：NRI内他システムとの連携窓口の設置（ラップ）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer13_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer13_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer13_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer13_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q14：他システム窓口からの情報共有（企画開発定例での週次共有）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer14_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer14_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer14_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer14_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q15：日常的に種をまき、感度良く（チームメンバー発表）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer15_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer15_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer15_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer15_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q16：日常的に種をまき、感度良く（企画Ｇ（加藤さん）発表）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer16_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer16_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer16_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer16_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                        Q17：日常的に種をまき、感度良く（アイディアソン）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer17_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer17_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer17_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer17_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                        Q18：個別進捗（繁忙の数値化）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer18_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer18_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer18_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer18_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q19：個別進捗（現業以外の時間の数値化）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer19_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer19_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer19_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer19_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q20：個別進捗（ニコニコカレンダー）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer20_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer20_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer20_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer20_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q21：個別進捗（お悩み相談（メンバがこまっていることを抽出してチケット化））
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer21_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer21_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer21_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer21_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q22：個別進捗（チームに対するご意見の収集（意見はチーム内課題としてチケット化））
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer22_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer22_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer22_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer22_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q23：企画開発リーダー会（チーム内課題確認のための枠を追加し、解消速度をあげる）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer23_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer23_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer23_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer23_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q24：役割の見直し（「社員さん」「特別ＳＥ」という区別の破壊、特別ＳＥの役割の明文化）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer24_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer24_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer24_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer24_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q25：ＧＭよもやま相談会
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer25_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer25_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer25_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer25_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q26：法制度委員会の旗振りを、「増員して」企画開発内にもってくる
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer26_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer26_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer26_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer26_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q27：施策についてコメントがあれば、お願いします！（もっとこうしたほうがいい、など）
                </td>
                <td class = "tableavarage">
                    <p>‐</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer27  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>
        </table>
    </div>
 
    <div class="large">
        <h2>チームについて</h2>
        <table>
            <col width = "300">
            <col width = "120">
            <col width = "1000">

            <tr>
                <th>質問</th>
                <th>評価</th>
                <th>コメント（評価__コメント内容）</th>
            </tr>
            <tr>
                <td class = "tableq">
                    Q1：（全体的に）前期と比べ、チームは良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer1_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer1_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer1_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer1_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q2：前期と比べ、チームの運営は良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer2_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer2_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer2_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer2_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q3：現状のチームの運営について、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer3_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer3_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer3_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer3_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q4：前期と比べ、チームの雰囲気（メンバー同士のコミュニケーションなど）は良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer4_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer4_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer4_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer4_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q5：現状のチームの雰囲気（メンバー同士のコミュニケーションなど）について、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer5_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer5_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer5_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer5_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q6：前期と比べ、風通し（リーダーや他のメンバーへの相談、会話のしやすさ）は良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer6_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer6_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer6_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer6_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q7：現状の風通し（リーダーや他のメンバーへの相談、会話のしやすさ）について、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer7_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer7_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer7_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer7_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q8：前期と比べ、情報連携は良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer8_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer8_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer8_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer8_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q9：現状の情報連携について、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer9_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer9_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer9_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer9_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q10：前期と比べ、働きやすさは良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer10_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer10_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer10_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer10_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q11：現状のチームの働きやすさについて、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer11_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer11_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer11_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer11_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q12：前期と比べ、忙しさは改善されたと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer12_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer12_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer12_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer12_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q13：現状のチームの忙しさについて、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer13_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer13_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer13_1%> ＿<%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer13_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q14：チームについてコメントがあれば、お願いします！（もっとこうしたほうがいい、など）
                </td>
                <td class = "tableavarage">
                    <p>‐</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer14  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%= output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>



        </table>
    </div>
        
</body>

</html>
