
<!DOCTYPE html>
<html lang="ja">

<%

var master = 1;

function avarage(json,member){
    sum = 0;

    json.forEach(function(item){
        sum += item[member];
    })

    return Math.round((sum/ans.length) * 100) / 100;
}


%>



<head>
    <meta charset="UTF-8">
    <title>企画開発チーム2018年上期アンケート結果</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
    <h1>企画開発チーム2018年上期アンケート結果</h1>

    <div class="comment">
        アンケートご回答、ありがとうございました！アンケートサマリー結果です。
    </div>

    <div class="large">
        <h2>2018年上期施策(ID:1070869865)について</h2>
        <table>
            <col width = "300">
            <col width = "120">
            <col width = "1000">

            <tr>
                <th>質問</th>
                <th>評価</th>
                <th>コメント（評価__コメント内容）</th>
            </tr>
            <tr>
                <td class = "tableq">
                    Q1：企画開発スキルロードマップ
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer1_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer1_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer1_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer1_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q2：スキル１ＵＰ
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer2_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer2_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer2_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer2_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q3：ブートキャンプ
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer3_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer3_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer3_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer3_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q4：座談会
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer4_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer4_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer4_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer4_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q5：チームアイデンティティ作成
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer5_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer5_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer5_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer5_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q6：JIRAをベースにしたコミュニケーション改善活動
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer6_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer6_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer6_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer6_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q7：適正な業務量の見極め、開発メンバの増員計画を考える活動
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer7_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer7_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer7_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer7_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q8：戦略マップのチーム内での共有
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer8_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer8_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer8_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer8_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q9：開発との上流工程役割分担の見直し
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer9_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer9_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer9_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer9_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q10：NRI内他システムとの連携窓口の設置（VD）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer10_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer10_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer10_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer10_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q11：NRI内他システムとの連携窓口の設置（POSTUB）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer11_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer11_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer11_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer11_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q12：NRI内他システムとの連携窓口の設置（e-bango）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer12_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer12_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer12_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer12_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q13：NRI内他システムとの連携窓口の設置（ラップ）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer13_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer13_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer13_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer13_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            

            <tr>
                <td class = "tableq">
                    Q14：他システム窓口からの情報共有（企画開発定例での週次共有）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer14_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer14_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer14_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer14_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q15：日常的に種をまき、感度良く（チームメンバー発表）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer15_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer15_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer15_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer15_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q16：日常的に種をまき、感度良く（企画Ｇ（加藤さん）発表）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer16_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer16_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer16_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer16_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                        Q17：日常的に種をまき、感度良く（アイディアソン）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer17_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer17_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer17_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer17_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                        Q18：個別進捗（繁忙の数値化）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer18_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer18_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer18_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer18_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q19：個別進捗（現業以外の時間の数値化）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer19_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer19_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer19_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer19_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q20：個別進捗（ニコニコカレンダー）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer20_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer20_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer20_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer20_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q21：個別進捗（お悩み相談（メンバがこまっていることを抽出してチケット化））
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer21_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer21_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer21_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer21_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q22：個別進捗（チームに対するご意見の収集（意見はチーム内課題としてチケット化））
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer22_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer22_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer22_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer22_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q23：企画開発リーダー会（チーム内課題確認のための枠を追加し、解消速度をあげる）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer23_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer23_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer23_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer23_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q24：役割の見直し（「社員さん」「特別ＳＥ」という区別の破壊、特別ＳＥの役割の明文化）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer24_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer24_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer24_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer24_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q25：ＧＭよもやま相談会
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer25_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer25_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer25_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer25_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q26：法制度委員会の旗振りを、「増員して」企画開発内にもってくる
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"shisakuanswer26_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer26_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.shisakuanswer26_1%> ＿<%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.shisakuanswer26_1%> ＿ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q27：施策についてコメントがあれば、お願いします！（もっとこうしたほうがいい、など）
                </td>
                <td class = "tableavarage">
                    <p>‐</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.shisakuanswer27  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=  output%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                            
                        <% } %>
                    <% }) %>
                </td>
            </tr>
        </table>
    </div>
 
    <div class="large">
        <h2>チームについて</h2>
        <table>
            <col width = "300">
            <col width = "120">
            <col width = "1000">

            <tr>
                <th>質問</th>
                <th>評価</th>
                <th>コメント（評価__コメント内容）</th>
            </tr>
            <tr>
                <td class = "tableq">
                    Q1：（全体的に）前期と比べ、チームは良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer1_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer1_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer1_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer1_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q2：前期と比べ、チームの運営は良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer2_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer2_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer2_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer2_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q3：現状のチームの運営について、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer3_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer3_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer3_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer3_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q4：前期と比べ、チームの雰囲気（メンバー同士のコミュニケーションなど）は良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer4_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer4_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer4_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer4_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q5：現状のチームの雰囲気（メンバー同士のコミュニケーションなど）について、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer5_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer5_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer5_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer5_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q6：前期と比べ、風通し（リーダーや他のメンバーへの相談、会話のしやすさ）は良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer6_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer6_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer6_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer6_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q7：現状の風通し（リーダーや他のメンバーへの相談、会話のしやすさ）について、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer7_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer7_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer7_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer7_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q8：前期と比べ、情報連携は良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer8_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer8_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer8_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer8_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q9：現状の情報連携について、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer9_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer9_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer9_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer9_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q10：前期と比べ、働きやすさは良くなったと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer10_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer10_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer10_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer10_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q11：現状のチームの働きやすさについて、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer11_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer11_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer11_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer11_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q12：前期と比べ、忙しさは改善されたと思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer12_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer12_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer12_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer12_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q13：現状のチームの忙しさについて、どう思いますか？
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"teamanswer13_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer13_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.teamanswer13_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.teamanswer13_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>


            <tr>
                <td class = "tableq">
                    Q14：チームについてコメントがあれば、お願いします！（もっとこうしたほうがいい、など）
                </td>
                <td class = "tableavarage">
                    <p>‐</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.teamanswer14  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>



        </table>
    </div>

    


    <div class="large">
        <h2>チームビジョン（ID:1067098112）達成度について</h2>
        <table>
            <col width = "300">
            <col width = "120">
            <col width = "1000">

            <tr>
                <th>質問</th>
                <th>評価</th>
                <th>コメント（評価__コメント内容）</th>
            </tr>
            <tr>
                <td class = "tableq">
                    Q1：先進性（IT 、制度、銀行業界）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer1_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer1_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer1_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer1_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q2：ユーザにとっての「２つの新しいこと」を実現
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer2_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer2_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer2_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer2_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q3：顧客の「攻め」と「守り」に参加
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer3_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer3_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer3_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer3_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q4：相手のシステム事情を知りつくしたRM
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer4_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer4_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer4_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer4_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q5：専門性（エンジニア力、企画力、マーケティング力）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer5_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer5_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer5_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer5_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q6：チームとしての組織的戦略活動
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer6_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer6_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer6_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer6_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q7：継続的育成によって形成される専門集団
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer7_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer7_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer7_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer7_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q8：ASPサービス企画
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer8_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer8_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer8_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer8_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q9：ALL-NRIの組織力集結の起点へ
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer9_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer9_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer9_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer9_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q10：事務的案内作業はオーダーだけ
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer10_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer10_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer10_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer10_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>            
            <tr>
                <td class = "tableq">
                    Q11：新規提案屋（0→１に特化 →開発で1→100）
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer11_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer11_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer11_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer11_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>            
            <tr>
                <td class = "tableq">
                    Q12：日常的に種をまき、感度良く
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer12_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer12_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer12_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer12_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q13：チームを活かすための活動
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"visionanswer13_1")%></p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer13_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.visionanswer13_1%> ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.visionanswer13_1%> ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                        Q14：チームビジョンについてコメントがあれば、お願いします！（もっとこうしたほうがいい、など）
                </td>
                <td class = "tableavarage">
                    <p>‐</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.visionanswer14  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
        </table>
    </div>

    <div class="large">
        <h2>ご自身のモチベーションについて（ ToMo(Total Motivation)指数 ）</h2>
        <table>
            <col width = "300">
            <col width = "120">
            <col width = "1000">

            <tr>
                <th>質問</th>
                <th><div>
                        評価
                    </div>
                    <div>
                        (ToMo指数)
                    </div>
                </th>
                <th>コメント（評価(ToMo指数)__コメント内容）</th>
            </tr>
            <tr>
                <td class = "tableq">
                    Q1：今の仕事や業務を続けているのは、仕事や業務そのものが楽しいから
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"motivateanswer1_1")%></p> 
                    <p>（ <%= Math.round((avarage(ans,"motivateanswer1_1")*(10)) * 100) / 100　%> ）</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.motivateanswer1_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.motivateanswer1_1%> (<%=item.motivateanswer1_1*(10)%>) ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.motivateanswer1_1%> (<%=item.motivateanswer1_1*(10)%>) ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q2：今の仕事や業務を続けているのは、辞めたら、自分と自分のことを気にかけてくれる人を落胆させてしまうから
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"motivateanswer2_1")%></p> 
                    <p>（ <%= Math.round((avarage(ans,"motivateanswer2_1")*(-1.66)) * 100) / 100%> ）</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.motivateanswer2_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.motivateanswer2_1%>  (<%=Math.round((item.motivateanswer2_1*(-1.66)) * 100) / 100%>) ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.motivateanswer2_1%>  (<%=Math.round((item.motivateanswer2_1*(-1.66)) * 100) / 100%>) ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q3：今の仕事や業務を続けているのは、この仕事や業務を失ったら現在の生活水準を維持できなくなるから
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"motivateanswer3_1")%></p> 
                    <p>（ <%= Math.round((avarage(ans,"motivateanswer3_1")*(-5)) * 100) / 100%> ）</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.motivateanswer3_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.motivateanswer3_1%>  (<%=item.motivateanswer3_1*(-5)%>) ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.motivateanswer3_1%>  (<%=item.motivateanswer3_1*(-5)%>) ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>

            <tr>
                <td class = "tableq">
                    Q4：今の仕事や業務を続けているのは、その仕事や業務に重要な目的があると思うから
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"motivateanswer4_1")%></p> 
                    <p>（ <%= Math.round((avarage(ans,"motivateanswer4_1")*(5)) * 100) / 100%> ）</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.motivateanswer4_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.motivateanswer4_1%>  (<%=item.motivateanswer4_1*(5)%>) ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.motivateanswer4_1%>  (<%=item.motivateanswer4_1*(5)%>) ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q5：今の仕事や業務を続けている明確な理由はない
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"motivateanswer5_1")%></p> 
                    <p>（ <%= Math.round((avarage(ans,"motivateanswer5_1")*(-10)) * 100) / 100%> ）</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.motivateanswer5_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.motivateanswer5_1%>  (<%=item.motivateanswer5_1*(-10)%>) ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.motivateanswer5_1%>  (<%=item.motivateanswer5_1*(-10)%>) ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q6：今の仕事や業務を続けているのは、自分なりの目標を達成する上で、有益だから
                </td>
                <td class = "tableavarage">
                    <p> <%= avarage(ans,"motivateanswer6_1")%></p> 
                    <p>（ <%= Math.round((avarage(ans,"motivateanswer6_1")*(1.66)) * 100) / 100%> ）</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.motivateanswer6_2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.motivateanswer6_1%>  (<%=Math.round((item.motivateanswer6_1*(1.66)) * 100) / 100%>) ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.motivateanswer6_1%>  (<%=Math.round((item.motivateanswer1_1*(1.66)) * 100) / 100%>) ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q7：モチベーションについてコメントがあれば、お願いします！（もっとこうしたほうがいい、など）
                </td>
                <td class = "tableavarage">
                    <p> ToMo指数合計</p> 
                    <p>（ <%= Math.round((avarage(ans,"motivateanswer1_1")*10 + avarage(ans,"motivateanswer2_1")*(-1.66) + avarage(ans,"motivateanswer3_1")*(-5) + avarage(ans,"motivateanswer4_1")*(5) + avarage(ans,"motivateanswer5_1")*(-10) + avarage(ans,"motivateanswer6_1")*(1.66)) * 100) / 100 %> ）</p> 
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.motivateanswer7  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%=item.motivateanswer6_1%> (<%=Math.round((item.motivateanswer1_1*(10) + item.motivateanswer2_1*(-1.66) + item.motivateanswer3_1*(-5) +item.motivateanswer4_1*(5) + item.motivateanswer5_1*(-10) + item.motivateanswer6_1*(1.66)) * 100) / 100%>)  ＿<%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                <%=item.motivateanswer6_1%> (<%=Math.round((item.motivateanswer1_1*(10) + item.motivateanswer2_1*(-1.66) + item.motivateanswer3_1*(-5) +item.motivateanswer4_1*(5) + item.motivateanswer5_1*(-10) + item.motivateanswer6_1*(1.66)) * 100) / 100%>) ＿ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
        </table>
    </div>

    <div class="large">
        <h2>2018年上期、企画開発のMVPだと思う人</h2>
        <table>
            <col width = "300">
            <col width = "1120">

            <tr>
                <th>MVP</th>
                <th>コメント</th>
            </tr>
            <% ans.forEach(function(item){ %>
                <% if (item.mvpanswer1_1 != 0) { %>
                    <tr>
                        <td class = "tableq">
                            <%= item.mvpanswer1_1 %>
                            <% if (master == 1) { %>
                                ( by <%= item.user%>) 
                            <% } %>  
                        </td>
                        <td class = "tablecomment">
                            <%= item.mvpanswer1_2 %>
                        </td>
                    </tr>
                <% } %>
                <% if (item.mvpanswer2_1 != 0) { %>
                    <tr>
                        <td class = "tableq">
                            <%= item.mvpanswer2_1 %>
                            <% if (master == 1) { %>
                                ( by <%= item.user%>) 
                            <% } %>  
                        </td>
                        <td class = "tablecomment">
                            <%= item.mvpanswer2_2 %>
                        </td>
                    </tr>
                <% } %>  
                <% if (item.mvpanswer3_1 != 0) { %>
                    <tr>
                        <td class = "tableq">
                            <%= item.mvpanswer3_1 %>
                            <% if (master == 1) { %>
                                ( by <%= item.user%>) 
                            <% } %>  
                        </td>
                        <td class = "tablecomment">
                            <%= item.mvpanswer3_2 %>
                        </td>
                    </tr>
                <% } %>      
            <% }) %>
        </table>
    </div>

    <div class="large">
        <h2>その他</h2>
        <table>
            <col width = "300">
            <col width = "1120">

            <tr>
                <th>質問</th>
                <th>コメント</th>
            </tr>
            <tr>
                <td class = "tableq">
                    Q1：次の期にもし座談会をやる場合、やってみたい座談会のお題をおしえてください。
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.etcanswer1  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q2：自身、もしくはチームメンバーのタスクの中で、その人しかできない（その人が明日異動になったら回らない）タスクがあれば教えてください。
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.etcanswer2  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q3：過去の経験で、ハードネゴシエーション（価格交渉、プレゼンス向上策、障害対応、新規案件獲得、などなど。。）の経験があれば教えてください。
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.etcanswer3  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q4：次の期に企画開発チーム内で、タスクフォースやサークル活動（arumonのような、業務時間後にコーディングをする会など）を行うとしたら、やってみたい活動を教えてください。
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.etcanswer4  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q5：竹内さん主催のアイディアソンのネタ（お題）があれば教えてください。
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.etcanswer5  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td class = "tableq">
                    Q6：その他、何かコメントがあれば自由にお願いします！
                </td>
                <td class = "tablecomment">
                    <% ans.forEach(function(item){ %>
                        <% var output = item.etcanswer6  %>
                        
                        <% if (master == 1) { %>
                            <p><%= item.user%> : 
                        <% } %>         
                        <% if (output != "") { %>
                            <%- output.replace(/\r?\n/g, '<br>');%></p> 
                        <% } else{ %>
                            <% if (master == 1) { %>
                                ノーコメント</p>
                            <% } %>         
                        <% } %>
                    <% }) %>
                </td>
            </tr>            
        </table>
    </div>

</body>

</html>
